<div id="authMain" #authPass class="authAdmin d-none align-items-center justify-content-center">
    <div class="d-flex w-50 rounded p-4 m-3 bg-bodyBlue ">
    <input type="text" id="putPass" class="form-control " placeholder="Password..." style="margin-right: 20px !important;" />
    <button class="btn btn-outline-success ml-3" style="margin-right: 20px !important;">
        <i class="fa fa-check"></i>
    </button>
    <button class="btn btn-outline-danger ml-3">
        <i class="fa fa-times"></i>
    </button>
</div>
</div>
<div class="container d-flex align-items-center justify-content-center">
    <div class="home ">
        <div class="parToUsers">
            <div class="gameLink w-100 d-flex py-3 align-items-center">
                <div class="leftSide">
                    <div class="linkCont">
                        <strong>
                            https://quiz.com
                        </strong>
                        <button class="btn border-0">
                            <i class="fa fa-copy"></i>
                        </button>
                    </div>
                </div>
                <div class="rightSide d-flex">
                    <a (click)="alertMe()">
                        <button class="btn btn-outline-success mr-2" style=" margin-right: 20px !important;">
                            <img src="assets/images/Vector.png" alt="" class="img-fluid" style="height: 23px !important;">
                        </button>
                    </a>
                    <a href="#"><button class="btn btn-outline-success">Play </button></a>
                </div>
            </div>
            <div class="col-5 p-2 userMainPar">
                <div>
                    <a href="#" class="text-decoration-none text-dark font-weight-bold">Larry</a>
                </div>
                <div>
                    <a href="#" class="text-decoration-none text-dark font-weight-bold">Carrie</a>
                </div>
                <div>
                    <a href="#" class="text-decoration-none text-dark font-weight-bold">Mary</a>
                </div>
                <div>
                    <a href="#" class="text-decoration-none text-dark font-weight-bold">Gary</a>
                </div>
            </div>
        </div>
    </div>
</div>