<div class="container d-flex align-items-center justify-content-center">
    <div class="home ">
        <div class="parToUsers">
            <div class="gameLink d-flex py-3 align-items-center">
                <div class="leftSide">
                    <div class="linkCont">
                        <a href="#">
                            https://quiz.com
                        </a>
                        <i class="fa fa-copy"></i>
                    </div>
                </div>
                <div class="rightSide d-flex">
                    <a href="admin.html">
                        <button class="btn btn-outline-success mr-2">
                            <img src="assets/images/Vector.png" alt="" class="img-fluid" style="width: 50px">
                        </button>
                    </a>
                    <a href="#"><button class="btn btn-outline-success">Play </button></a>
                </div>
            </div>
            <div class="col-5 p-2 userMainPar">
                <div>
                    <a href="#" class="text-decoration-none text-dark font-weight-bold">Larry</a>
                </div>
                <div>
                    <a href="#" class="text-decoration-none text-dark font-weight-bold">Carrie</a>
                </div>
                <div>
                    <a href="#" class="text-decoration-none text-dark font-weight-bold">Mary</a>
                </div>
                <div>
                    <a href="#" class="text-decoration-none text-dark font-weight-bold">Gary</a>
                </div>
            </div>
        </div>
    </div>
</div>